<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}">Blog - Flask 
            SQLAlchemy example, use same booststrap as in testit.tech</a>
      </h3>
      
      <br>
      <form action = "{{ request.path }}" method = "post">
            <label for = "del">Delete id</label><br>
            <input type = "text" name = "del" placeholder = "Delete" /><br>
            <input type = "submit" value = "Submit" />
         </form>
      <br>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Entry (<a href = "{{ url_for('new') }}">Add Entry
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>Title</th>
               <th>Slug</th>
               <th>Content</th>
               <th>Publication</th>
            </tr>
         </thead>
         
         <tbody>
            <p> {{ entr }}</p>
            {% for ent in entry %}
               <tr>
                  <td>{{ ent.id }}</td>
                  <td>{{ ent.title }}</td>
                  <td>{{ ent.slug }}</td>
                  <td>{{ ent.content }}</td>
                  <td>{{ ent.pub_time }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
    
   </body>
</html>